/* Set the lobby container to take up the full height of the viewport */
.lobby__container {
  min-height: calc(100svh - 100px);
  /* Adjust 60px to actual combined height of header and footer */
  height: calc(100svh - 100px);

  display: flex;
  flex-grow: 1;
  /* Take up all available space */
  flex-direction: row;
  /* Stack children vertically */
  background-color: #e6f7ff;
  /* Light blue background */
  color: #0050b3;
  /* Dark blue text */
  padding: .25rem;
  /* Padding around the container */
  box-sizing: border-box;
  /* Include padding in the container's height */
}

.lobby__left,
.lobby__right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh-200px;
}

/* Style the room list */
.lobby__roomlist,
.lobby_chat {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 400px;
  flex-grow: 1;
  /* Take up all available space */
  overflow-y: auto;
  /* Enable scroll on overflow */
  margin: 0;
  padding: 0;
  list-style: none;
  /* Remove default list styling */
  box-sizing: border-box;
  /* Include padding in the container's height */
}


/* Style each room component */
.lobby__room {
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: space-evenly;
  background-color: #1890ff;
  /* Blue background for each room */
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  /* Space between rooms */
  cursor: pointer;
  /* Indicates the item is clickable */
  border-radius: 5px;
  /* Rounded corners for room items */
  transition: background-color 0.3s;
  /* Smooth transition for hover effect */
}

.lobby_message {
  position: relative;
  display: flex;
  width: 100%;
  height: min-content;
  color: white;
  justify-content: center;
  margin-bottom: .75rem;
  /* Space between rooms */
  /* Indicates the item is clickable */
  border-radius: 5px;
  /* Rounded corners for room items */
  transition: background-color 0.3s;
  /* Smooth transition for hover effect */
} 
.lobby_message::after {
  display: block;
  height: 15px;
  width: 15px;
  content: "";
  position: absolute;
  margin-top:auto;
	border-radius: 0 0 12px 0;
  background:inherit;
  transform: rotate(-135deg);
  gap: 20px;
  bottom:-5px;
}

  



.lobby__room:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

/* Additional styles for different game states */
.lobby__room--active {
  background-color: #4CAF50;
  /* Green for active game state */
}

.lobby__room--active:hover {
  background-color: #428f44;
  /* Green for active game state */
}

.lobby__room--waiting {
  background-color: #FFEB3B;
  /* Yellow for waiting game state */
  color: black;
}

.lobby__room--waiting:hover {
  background-color: #ffcb3b;
  /* Yellow for waiting game state */
  color: black;
}

.lobby__room--ended {
  background-color: #F44336;
  /* Red for ended game state */
}

.lobby__room--ended:hover {
  background-color: #ad3028;
  /* Red for ended game state */
}

/* Style the create room input and button */
input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  /* Space between input and button */
  border: none;
  border-radius: 5px;
  /* Rounded corners for the input */
}

button {
  background-color: #1a8fff;
  /* Blue background for the button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  /* Rounded corners for the button */
  cursor: pointer;
  /* Indicates the item is clickable */
  transition: all 0.3s;
  /* Smooth transition for hover effect */
}

button:hover {
  /* background-color: #0056b3; Darker blue on hover */
  background-image: linear-gradient(90deg, pink, #0056b3);
}

/* When no rooms are available */
.lobby__roomlist>p {
  text-align: center;
  color: #a0d3ff;
  /* Lighter blue text for contrast */
}