/* App.css - Global styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box; /* Ensures padding and borders are included in the total width and height */
  }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    height:100%;
  }
  
  .App-header {
    text-align: center;
    padding: 1rem;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100svh - 100px); /* Adjust 60px to actual combined height of header and footer */
    height: calc(100svh - 100px);
    width: 100vw;
  }
  .App {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* Further assuming you have a main content area that should take the remaining space */
  .content {
    flex: 1; /* This will make the content area grow to take up any remaining space */
    width:100%;
  }